.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  height: 104px;
  margin: 10px;
  border: 1px solid #ecedf0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

.activeItem {
  border: 2px solid lightblue;
}

.item:hover {
  border: 2px solid lightblue;
  cursor: pointer;
}

.item span {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.685);
}
